<h1>Welcome!</h1>

<p>Today is <strong>a good day</strong>...ask away!</p>

<form action="answer" method="get">
  <input type="text" name="question" placeholder="type question here">
  <input type="submit" value="Ask!">
</form>
